MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=unifiedlab
MYSQL_PASSWORD=CAMBIAR_ESTO
MYSQL_DATABASE_PORTAL=unifiedlab
MYSQL_DATABASE_PHYSICLAB=physiclab
MYSQL_DATABASE_DATACENTER=datacenter
MYSQL_DATABASE_STELLAR=stellarlab
UNIFIEDLAB_SECRET_KEY=CAMBIAR_ESTO
PHYSICLAB_SECRET_KEY=CAMBIAR_ESTO
FLASK_SECRET_KEY=CAMBIAR_ESTO
